body{
    font-family:sans-serif;
    font-weight: bold;
    color: white;
}

@font-face {
    font-family: NoVirus;
    src: url("./assets/fonts/No\ Virus.otf");
}
.hitung-button{
    font-size: 20px;
    padding: 1% 15%;
    border-radius: 6px;
}

.user-button {
    font-size: 30px;
    font-weight: bold;
    padding: 1% 20%;
    border-radius: 10px;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.navbrand {
    height: 70px;
}

.nav-text, .text {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-text:hover {
    color: white;
    opacity: 0.6;
}

.title{
    color: white;
    font-size: 20px;
    height: 200px;
}

.faq-title {
    background-repeat: no-repeat;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    width: 470px;
}

.top-left {
    position: absolute;
    top: 15px;
    left: 40px;
    
}

.faq-title {
    height: 200px;
}
.faq-q {
    width: 450px;
}
.faq-answer {
    padding: 5%;
    margin: 0 25%;
    background-color: #bfe7d4;
    color: white;
}
.q-bubble {
    padding-right: 20%;
}

@media (max-width:1200px){
    .nav-text, .text {
        font-size: 10px;
        padding: 2px 3px;
        text-align: center;
    }
    .navbrand {
        height: 50px;
    }
    .faq-title {
        height: 150px;
    }

    .faq-answer {
        padding: 5%;
        margin: 0 15%;
    }

    .top-left {
        top: 10px;
        left: 35px;
    }
    .container {
        width: 370px;
    }
    .faq-q {
        width: 350px;
    }
    .q-bubble{
        padding-right: 10%;
    }
}

.text:hover{
    color:black;
    opacity: 0.7;
}