body{
    font-family:sans-serif;
    font-weight: bold;
    color: white;
}
@font-face {
    font-family: Champagne;
    font-weight: bold;
    src: url("./assets/fonts/Champagne\ &\ Limousines\ Bold.ttf");
}

@font-face {
    font-family: NoVirus;
    src: url("./assets/fonts/No\ Virus.otf");
}

.cms-file{
    border: 1px solid #326e85;
    border-style: dashed;
    border-radius: 10px;
    

}
.modal-width{
    width: 70%;
}
.modal {
    color: black;
    border-radius: 20px !important;
    padding: 2%;
}

.form-cms {
    padding: 1%;
    border-radius: 12px;
}

.form-box {
    border-radius: 12px;
    padding: 3% 2%;
    font-size: 16px;
}
.form-box2 {
    border-radius: 13px;
    padding: 2% 5%;
    font-size: 16px;
}
.hitung-button{
    font-size: 20px;
    padding: 1% 15%;
    border-radius: 6px;
}

.login-button {
    background-color: #15533E;
    width: 100%;
    opacity: 0.85;
    padding: 2%;
    border: none;
    border-radius: 13px;
    color:white;
}
.post-button {
    background-color: #15533E;
    opacity: 0.85;
    padding: 1% 2%;
    width:110px;
    border: none;
    border-radius: 6px;
    color:white;
}

.login-button:hover, .post-button:hover{
    opacity: 1;
}
.login-button:active ,.google-button:active, .post-button:active{
    transform: scale(0.97);
}
.google-button{
    width: 100%;
    padding: 2%;
    border-radius: 13px;
    color:black;
    background-color: white;
    border:1px solid #15533E;
}

.google-button:hover {
    background-color: whitesmoke;
}



.user-button {
    font-weight: bold;
    border-radius: 10px;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 80vh;
}

.navbrand {
    height: 70px;
}


.nav-text, .text {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-text:hover {
    color: white;
    opacity: 0.6;
}

.title{
    color: white;
    font-size: 20px;
    height: 200px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
    width: 500px;
}

.top-left {
    position: absolute;
    top: 0px;
    left: 30px;
    width: 420px;
    font-size: 14px;
    padding: 3% 0;
    
    
}


.faq-q {
    width: 100%;
}
.faq-answer {
    padding: 5%;
    margin: 0 25%;
    background-color: #bfe7d4;
    color: black;
    font-size: 14px;
}
.q-bubble {
    padding-right: 20%;
}

.pictitle{
    width: 300px;
    margin: 50px;
}
.navbar-profile{
    display: none;
}

/* Definition page */
.def-title{
    font-family: Champagne;
    font-size: 45px;
}
.def-pic{
    width:100%;
    
}

.def-desc{
    font-family:"Times New Roman";
    font-weight: lighter;
}

.def-post{
    margin: 10% 0;
}
.def-icon{
    width:50px;
}

.table-diet{
    background-color: #eeeeee;
    border: 0.3px solid lightgray;
    box-shadow: 3px 3px 5px darkgrey;
    border-radius: 4px;
}

.table-cell{
    background-color: white;
    margin: 1.5px;
    padding: 1%;
    width:20%;
}
.table-header{
    padding-bottom: 5%;
}

.table-title{
    font-family:Champagne;
    font-size: 16px;
    font-weight: bolder;
}

.table-content{
    font-family: 'Times New Roman';
    font-weight:lighter;
    font-size: 15px;
}

/* BMI */
.calculator{
    background-color:#15533E;
    width:50%;
    min-width:300px;
    margin:5% auto;
    padding:1% 0;
}
.calc-title{
    font-size:40px;
    text-align: center;
}
.bmi-circle{
    background-color: #f16659;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding:30px 0;
    font-size: 20px;
    text-align: center;
}
.bmi-num{
    font-size:40px;
}

.postTitle{
    color:black;
}

.overflowShow{
    height:200px;
    overflow-y: hidden;
}

.heightInput::-webkit-outer-spin-button,
.heightInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.heightInput{
    width:100%;
    border:none;
    font-size:1vmax;
    -moz-appearance: textfield;
}
@media(max-width: 600px){
    
    .calc-title{
        font-size: 10px;
    }
    .table-title{
        font-size:2vw;
    }
    .table-content{
        font-size:1.8vw;
    }
}
@media(max-width: 900px) {
    .cms-title{
        font-size:21px;
    }
    .image-cms{
        font-size:10px;
    }
    .profile-pic{
        display: none;
    }
    .navbar-profile{
        display: block;
        color: white;
    }
    .def-pic{
        padding-bottom: 5%;
    }
    .def-icon{
        display: none;
    }
    .table-title{
        font-size:14px;
    }
    .table-content{
        font-size:12px;
    }
}

@media (max-width:1200px){
    .calc-title{
        font-size:30px;
    }
    .pictitle {
        width: 150px;
    }
    .nav-text, .text {
        font-size: 10px;
        padding: 2px 3px;
        text-align: center;
    }
    .navbrand {
        height: 50px;
    }
    
    .faq-answer {
        padding: 5%;
        margin: 0 15%;
        font-size: 12px;
    }
    
    .top-left {
        top: 0px;
        left: 20px;
        width: 320px;
        font-size: 10px;
    }
    .container {
        width: 370px;
    }
    .faq-q {
        width: 350px;
    }
    .q-bubble{
        
        padding-right: 10%;
    }
    .def-title{
        font-size:25px;
    }
}

.text:hover{
    color:black;
    opacity: 0.7;
}
@media only screen and (hover: none) and (pointer: coarse) {
 
    .cms-title{
        font-size:20px;
        font-weight: bold;
    }
    .post-button{
        font-size:16px;
    }
    .faq-q{
        float: right;
        width:80%;
        margin-top:10px;
    }
    .top-left{
        top: 5px;
        width: 60%;
        left: 25%;
        font-size: 2vw;
    }
    .container{
        width: 90%;
    }
    .q-bubble{
        padding-right:0%;
    }
    .calculator {
        max-width: 500px;
        width: 80%;
    }
    .table-title{
        font-size:10px;
    }
    .table-content{
        font-size: 8px;
    }
}